.*~
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
include/Makefile
install-sh
ltmain.sh
m4/
missing
src/.deps/
src/Makefile
src/Makefile.in
src/nfctsa
src/*.o
