Source: nfctd
Section: network
Priority: extra
Maintainer: Markus Koetter <koetter@luis.uni-hannover.de>
Build-Depends:
 dh-autoreconf,
 dh-systemd,
 debhelper (>= 8.0.0),
 libsnmp-dev,
 libnetfilter-conntrack-dev,
 libev-dev,
 libpcap0.8-dev,
 libmnl-dev
Standards-Version: 3.9.2
Homepage: https://github.com/thorkill/nfctd
#Vcs-Git: git://git.debian.org/collab-maint/nfctd.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nfctd.git;a=summary

Package: nfctd
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libsnmp15 | libsnmp30,
 snmpd,
 libnetfilter-conntrack3,
 libev4,
 libpcap0.8
Description: Exports netfilter conntrack statistics via SNMP
 SNMP glue for netfilter conntrack statistics
